@CHARSET "EUC-KR";

#myPageMain {
	background-image: url(img/bg_c_bricks.png);
	width: 100%;
}

.bgImgContainer {
	display: flex;
	background-image: url(img/bg_mypage_info.gif);
	margin-left: 280px;
	margin-top: 80px;
	margin-bottom: 100px;
	width: 980px;
	height: 450px;
}

.myPageContainer {
	margin-left: 40px;
	margin-top: 40px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.profile {
	flex-grow: 1;
	height: 0px;
	display: flex;
	flex-direction: row;
	font-size:1.3rem;
}

.profile_item1 {
	flex-grow: 2;
	border-right: 3px solid rgb(110, 98, 66);
	height: 180px;
	
}

.profile_item1 img {
	border: 3px solid rgb(110, 98, 66);
	border-radius: 150px;
	-moz-border-radius: 150px;
	-khtml-border-radius: 150px;
	-webkit-border-radius: 150px;
	height: 170px;
	width: 170px;
}

.profile_itemContainer {
	flex-grow: 4;
	display: flex;
	flex-direction: column;
	height: 180px;
}

.profile_item3 {
	flex-grow: 1;
	border-left: 3px solid rgb(110, 98, 66);
	height: 180px;
}

.profile_itemContainer_nameId {
	flex-grow: 1;
	color: black;
	flex-shrink: 0;
}

.profile_itemContainer_grade {
	border-top: 3px solid rgb(110, 98, 66);
	flex-grow: 1;
	flex-shrink: 0;
	color: white;
}

.profile_money {
	flex-grow: 1;
	display: flex;
	flex-shrink: 0;
	height: 0px;
}

.profile_money_money {
	flex-grow: 1;
	flex-shrink: 0;
	height: 170px;
	color: #fece29;
	font-weight: bold;
	font-size: 4rem;
}

.profile_money_point {
	flex-grow: 1;
	flex-shrink: 0;
	border-left: 3px solid rgb(110, 98, 66);
	border-right: 3px solid rgb(110, 98, 66);
	height: 170px;
	color: #3140fb;
	font-weight: bold;
	font-size: 4rem;
}

.profile_money_favorite {
	flex-grow: 2;
	flex-shrink: 0;
	height: 170px;
}

strong {
	font-size: 1.5rem;
	font-weight: bold;
}

/*mypage 2container*/
.myPageContent {
	display: flex;
	flex-direction: row;
	height: 1000px;
	background-color: fefcf0;
}

.myPageContent nav {
	margin-right: 10px;
	flex-grow: 1;
}

.navContainer {
	display: flex;
	flex-direction: column;
	height: 1000px;
	width: 200px;
	margin-left: 200px;
	color: white;
}

.myPageContent main {
	flex-grow: 3;
}

.myPageContent aside {
	border-left: 1px solid gray;
	flex-grow: 1;
}

.myPageContent nav .navContainer ul li {
	border-top: 1px solid #bbb9b1;
	font-size: 3rem;
	color: fefcf0;
}

li a:link {
	padding-left: 20px;
	text-decoration: none;
	color: #333333;
font-size: 1.5rem;}

li a:visited {
	padding-left: 20px;
	text-decoration: none;
	color: #333333;
font-size: 1.5rem;}

li a:active {
	padding-left: 20px;
	text-decoration: none;
	border: 2px solid powderblue;
	font-size: 1.5rem;
}

li a:hover {
	ppadding-left: 20px;
	text-decoration: underline;
	color: red;
	font-size: 1.5rem;
}

/* 프로필 관리 */
main .myProfileContainer {
	display: flex;
	flex-direction: column;
	height: 900px;
}

main .myProfileItem:nth-child(1) {
	border: 2px solid black;
	background-color: white;
}

main .myProfileItemContainer {
	border-bottom: 1px solid #c0c0c0;
	display: flex;
	flex-direction: column;
}

main .myProfileItemContainer_ItemContainer {
	display: flex;
	flex-direction: row;
}

main .myProfileItemContainer_ItemContainer_Item:nth-child(1) {
	flex-basis: 150px;
	font-size: 1.5rem;
	padding-top: 10px;
	border-bottom: 1px solid #c0c0c0;
	background-color:white;
	text-align: center;
	font-weight: bold;
	color: #ee2e24;
	border-left: 1px solid black;
	border-right: 1px solid gray;
}

main .myProfileItemContainer_ItemContainer_Item:nth-child(2) {
	flex-grow: 5;
	font-size: 1.4rem;
	padding: 10px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid black;
	background-color:white;
}

main .myProfileItem:nth-child(3) {
	height: 50px;
}