@CHARSET "EUC-KR";

/*  container START */
.topMainContainer {
	display: flex;
	flex-direction: column;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: url('img\main\bg_header.png');
	background-repeat: repeat-x;
}

.topMainADContainer {
	display: flex;
	width: 100%;
	background-color: white;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: url('img\main\bg_header.png');
	background-repeat: repeat-x;
}

.topLoginContainer {
	/* border-top: 1px solid gray;
	border-bottom: 1px solid gray; */
	background-color: rgb(253, 252, 240);
	display: flex;
	flex-direction: row-reverse;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: url('img\main\bg_header.png');
	background-repeat: repeat-x;
}

.topMainMenuContainer {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	display: flex;
	flex-direction: row;
	border: 0;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: url('img\main\bg_header.png');
	background-repeat: repeat-x;
}
/*  container END */
.topmenu {
	height: 50px;
	font-size: 3px;
	flex-shrink: 0;
	font-family: BareunDotum1;
}

.topmenu td {
	text-align: right;
}

.eventItem {
	width: 100px;
	background-color: tomato;
}

.mainmenu {
	font-size: 3rem;
	flex-shrink: 0;
	font-family: BareunDotum1;
	width: 98%;
	height: 119px;
}

/*  item START */
.topMainMenuItem:nth-child(1) {
	text-align: center;
	flex-shrink: 0;
	flex-basis: 20%;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: url('img\main\bg_header.png');
	background-repeat: repeat-x;
}

.topMainMenuItem:nth-child(2) {
	text-align: center;
	flex-shrink: 0;
	flex-basis: 60%;
	padding-top: 40px;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: URL('img\main\bg_header.png');
	background-repeat: repeat-x;
}

.topMainMenuItem:nth-child(3) {
	text-align: center;
	flex-shrink: 1;
	flex-basis: 374px;
	height: 100px;
	padding-right: 40px;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: URL('img\main\bg_header.png');
	background-repeat: repeat-x;
}

.topLoginItem:nth-child(1) {
	text-align: center;
	flex-shrink: 0;
	flex-basis: 100px;
	padding-top: 10px;
	padding-right: 40px;
	height: 30px;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

.topLoginItem:nth-child(2) {
	text-align: center;
	flex-shrink: 0;
	flex-basis: 100px;
	padding-top: 10px;
	height: 30px;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

.topLoginItem:nth-child(3) {
	text-align: center;
	flex-shrink: 0;
	flex-basis: 100px;
	padding-top: 10px;
	height: 30px;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

.topLoginItem:nth-child(4) {
	text-align: center;
	flex-shrink: 0;
	flex-basis: 100px;
	padding-top: 10px;
	height: 30px;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

/*  item END */
#me { /* Label */
	background-color: black;
	color: white;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 30% height: 30px;
	align-content: center;
	text-align: center;
	border: 0;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

header {
	width: 100%;
	padding: 0;
	border: 0;
	font-size: 3px;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	background-image: URL('img\main\bg_header.png');
	background-repeat: repeat-x;
}

footer {
	border-top: 1px solid gray;
	padding: 20px;
	text-align: center;
}

.content {
	display: flex;
	margin: 0;
	border: 0;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

.content nav {
	border-right: 1px solid gray;
	margin: 0;
	border: 0;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

.content aside {
	border-left: 1px solid gray;
	padding-right: 40px;
	margin: 0;
	border: 0;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

nav, aside {
	flex-basis: 15%;
	flex-shrink: 0;
	margin: 0;
	border: 0;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

main {
	padding: 10px;
	margin: 0;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	flex-basis: 70%;
}

.topLoginContainer img {
	width: 100%;
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
}

/* font */
#type1 {
	font-size: 1rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	font-weight: bold;
	line-height: 2; /*첫문장과 두번째 문장의 간격이라 보면됨*/

	/*Helvetica Neue 이렇게 띄어쓰기가 들어간 이름은 ""으로 묶어줌. arial이없으면 verdana, verdana가없으면 Helvetica Neue이 적용됨
  		이렇듯 폰트들의 묶음이라하여 font-family라는 예약어 사용.*/

	/*serif (장식이 있는 폰트)
sans-serif
cursive (흘림체)
fantasy
monospace (고정폭)*/
}

/*표준 링크 스타일*/
a#cancel:link {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	font-size: 1.5rem;
	background-color: rgba(2, 1, 1, 0.93);
	color: white;
	width: 100%;
}

a:visited {
	color: black;
	text-decoration: none;
	font-size: 1.3rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	font-weight: bold;
}

a:link {
	color: black;
	text-decoration: none;
	font-size: 1.3rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	font-weight: bold;
}

a:hover {
	color: tomato;
	text-decoration: underline;
	font-size: 1.3rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	font-weight: bold;
}

.topMainMenuItem:nth-child(2) a:link {
	color: black;
	text-decoration: none;
	font-size: 2rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	font-weight: bold;
}

.topMainMenuItem:nth-child(2) a:hover {
	color: tomato;
	text-decoration: none;
	font-size: 2rem;
	font-family: BareunDotum1, arial, verdana, "Helvetica Neue", monospace;
	font-weight: bold;
}

/*================Login================*/
section.loginContent {
	margin-top: 80px;
	display: flex;
	direction: row;
	display: flex;
	direction: row;
	height: 600px;
}

.loginContent nav, .loginContent aside {
	flex-grow: 0;
	flex-basis: 600px;
	flex-shrink: 2;
}

div.memberLoginContainer {
	height: 283px;
	flex-grow: 1;
	flex-shrink: 1;
	width: 500px;
}

div.loginButtonContainer {
	border-bottom: 2px solid gray;
	display: flex;
	direction: row;
	display: flex;
	border-left: 2px solid gray;
}

div.loginButtonContainer button.loginbtn {
	background-color: #b42222;
	color: ghostwhite;
	flex-basis: 150px;
	height: 40px;
	border: 1px solid black;
	border-bottom: 2px solid black;
	font-size: 12px;
}

div.loginButtonContainer button.nologinbtn {
	background-color: whitesmoke;
	color: black;
	flex-basis: 150px;
	height: 40px;
	border: 1px solid black;
	border-bottom: 2px solid black;
	font-size: 12px;
}

div.loginFormDiv {
	border-right: 3px solid gray;
	border-left: 5px solid black;
	padding: 20px;
	padding-bottom: 0;
	display: flex;
	direction: column;
	border-left: 1px;
	font-size: 12px;
	border-left: 2px solid gray;
}

div.loginFormDiv form.loginForm input {
	height: 50px;
	padding: 10px;
	border: 1px solid black;
	font-size: 12px;
	width: 100%;
}

div.loginFormDiv form.loginForm input#submit {
	height: 50px;
	font-size: 1rem;
	font-weight: bold;
	background-color: #b42222;
	color: ghostwhite;
	width: 100px;
	margin-left: 76.4%;
	margin-top: 10px;
}

div.loginFormDiv button {
	margin-top: 30px;
	margin-left: 20px;
	width: 100px;
	height: 90px;
	margin-left: 20px;
	border: 1px solid darkgray;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	background-color: #b42222;
	font-weight: bold;
	font-size: 12px;
	color: ghostwhite;
}

div.serchDiv {
	border-bottom: 3px solid gray;
	border-right: 3px solid gray;
	padding-top: 0;
	display: flex;
	direction: row;
	padding-top: 0;
	border-left: 2px solid gray;
}

.serchDivItem:nth-child(1) {
	flex-grow: 1;
}

.serchDivItem:nth-child(2) {
	flex-grow: 1;
}

.serchDivItem:nth-child(3) {
	flex-grow: 1;
}

div.serchDiv button.serchDivItem {
	width: 100%;
	height: 30px;
	background-color: white;
	border: 1px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	font-size: 12px;
}

/*================Event================*/
.eventContainer {
	width: 70%;
	margin-left: 15%;
}

.eventInfoItemContainer {
	width: 100%;
	background: #000040;
	display: flex;
	flex-direction: row;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	margin-bottom: 50px;
}

.eventImageItem {
	flex-basis: 240px;
}

.eventInfoItem {
	padding: 50px;
	flex-basis: 726px;
	color: #edefef;
	font-family: "Helvetica Neue", arial, verdana;
}

.eventButtonItem {
	flex-basis: 100px;
	padding: 0;
	background-color: black;
}

.eventButtonItem button {
	width: 100%;
	height: 200px;
	background-color: #ffffff;
	font-weight: bold;
	color: black;
}

.eventInfoItem strong {
	color: white;
}

* {
	margin: 0;
	padding: 0
}

ul, li {
	list-style: none
}

.rolling_wrap {
	width: 980px;
	height: 450px
}

#STATICMENU {
	margin: 0pt;
	padding: 0pt;
	position: absolute;
	right: 0px;
	top: 0px;
}

.clientEventViewContainer{
	width: 80%;
	display: flex;
	flex-direction: column;
	background-color:tomato;
	border: 2px solid black;
}

.clientEventViewItem:nth-child(1){
	text-align:center;
	padding:20px;
	font-weight:bold;
	background-color:black;
	color:white;
	flex-grow:1;
}
.clientEventViewItem:nth-child(2){
	padding:20px;
	font-weight:bold;
	flex-grow:1;
}
.clientEventViewItem:nth-child(3){
	text-align:center;
	padding:20px;
	font-weight:bold;
	background-color:white;
	flex-grow:4;
}
